<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:minytock="http://code.google.com/p/minytock/schema/spring"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://code.google.com/p/minytock/schema/spring
           http://code.google.com/p/minytock/schema/spring/minytock.xsd">
	
    
    <bean class="minytock.SomeService"/>
    
    <bean class="minytock.SomeOtherService"/>
    
    <minytock:config cache-type="default" aop-compatible="false"/>
	
</beans>